# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.coverage
htmlcov/
.npm/

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Project logs
*.log
*.tmp
